body {
  font-family: 'Schoolbell';
  color: whitesmoke;
  margin-top: 30px;
}

.container {
  margin: 0px 5px 25px 5px;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.borderBottom {
  text-align: center;
}

.bottom li {
  display: inline;
  font-size: 70px;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 5px 50px 0px 50px;
}

.currentWord {
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
}

.guessedWord li {
  display: inline;
  font-size: 60px;
}

.word {
  text-align: center;
  margin-bottom: 40px;
}

.letterGuessed {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.letters {
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.guessRemaining {
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 200px;
  }
  .bottom li {
    font-size: 75px;
  }
}

@media screen and (max-width: 932px) {
  h1 {
    font-size: 100px;
  }
  .bottom li {
    font-size: 50px;
  }
}

@media screen and (max-width: 665px) {
  .bottom li {
    font-size: 40px;
  }
}

@media screen and (max-width: 627px) {
  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 532px) {
  .bottom li {
    font-size: 30px;
  }
}

@media screen and (max-width: 407px) {
  .guessedWord {
    font-size: 50px;
  }
  .letters {
    font-size: 50px;
  }
}